
:root {
  --font-family-base: 'Inter', 'nunito', sans-serif;
  --font-size-base: 0.875rem;
  --font-size-sm: 0.75rem;
  --font-size-topbar-title: 1.25rem;
  --font-size-topbar-description: 0.875rem;
  --font-size-topbar-user-name: 0.875rem;
  --font-size-topbar-user-email: 0.75rem;

  --font-size-base-mobile: 1rem;
  --font-size-sm-mobile: 0.875rem;
  --font-size-topbar-title-mobile: 1.5rem;
  --font-size-topbar-description-mobile: 1rem;
  --font-size-topbar-user-name-mobile: 1rem;
  --font-size-topbar-user-email-mobile: 0.875rem;

  --blue-green-50: #E6F4F9;
  --blue-green-100: #C8EAF2;
  --blue-green-200: #99DAE9;
  --blue-green-300: #68CBE1;
  --blue-green-400: #35BFDC;
  --blue-green-500: #00B4D8;
  --blue-green-600: #0069AE;
  --blue-green-700: #002E7F;
  --blue-green-800: #00084D;
  --blue-green-900: #000017;
  --neutro-white: #F9FAFA;
  --neutro-gray-100: #E8EDED;
  --neutro-gray-200: #CDD8DB;
  --neutro-gray-300: #ABC0C4;
  --neutro-gray-400: #729299;
  --neutro-gray-500: #607F85;
  --neutro-gray-600: #445D62;
  --neutro-gray-700: #1D3337;
  --neutro-gray-800: #0E1F23;
  --neutro-gray-900: #061A1E;
  --neutro-black: #000F0F;

  --layout-padding: 0rem;
  --layout-gap: 0.2rem;
  --layout-shell-gap: 0rem;
  --layout-radius: 0px;
  --menu-item-radius: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  font-family: var(--font-family-base);
}

body {
  background: var(--blue-green-200);
  color: var(--neutro-gray-700);
}

button,
input,
select,
textarea {
  font-family: var(--font-family-base);
}

a {
  color: inherit;
}

